*{
    margin: 0px;
    padding: 0px;
    font-family: "languageFont","AvenirNext","Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,sans-serif,"WebRupee";
}
body{
    overflow-x: hidden;
}

.head1{
    width: 100%;
    height: 86px;
    display: flex;
    
}
.image
{
   margin-left: 50px;
   font-size: 25px;
} 
.image img{
    padding-top: 30px;
    width: 80px;
    height: 20px;
} 
 .home{
    margin-left: 60px;
    padding-left: 40px;
    height: 86px;
    width: 85px;
    padding-left: 25px;
    padding-top: 30px;
    box-sizing: border-box; 
    font-size: 14px; 
}
.products{
    
    width: 101px;
    height: 86px;
    padding-top: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    font-size: 14px; 

}
.estore{
width: 100px;
height: 86px;
padding-top: 30px;
box-sizing: border-box;
padding-left: 30px;
font-size: 14px; 
}

.exclusivestore{
width: 196px;
height: 86px;
padding-top: 30px;
box-sizing: border-box;
padding-left: 25px;
font-size: 14px; 
}
.community{ 
    width: 100px;
    height: 86px;
    padding-top: 30px;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 14px; 
    }

.support{

width: 90px;
height: 86px;
padding-top: 30px;
box-sizing: border-box;
padding-left: 30px;
font-size: 14px; 
}
.funtouch{
width: 130px;
height: 86px;
padding-top: 30px;
box-sizing: border-box;
padding-left: 30px;
font-size: 14px; 
}
.explore{
width: 125px;
height: 86px;
padding-top: 30px;
box-sizing: border-box;
padding-left: 30px;
font-size: 14px; 
}

.searchlogo img{
    margin-left: 65px;
padding-top: 30px;
width: 30px;
height: 20px;
}
.contact  img{
    margin-left: 65px;
padding-top: 30px;
width: 30px;
height: 20px;
}
.main{
    display: flex;
    width: 100%;
    height: 80vh;
    
}
.banner{
    display: flex;
    background-size: cover;
    background-position: center;
    
}
.contain, .main{
   width: 100%;
}
.contain{
    margin-left: 50px;
    line-height: 2;
    flex: 25%;
}
.main{
    flex: 75%;
}
.main img{
    object-fit: cover;
    max-width: 100%;
}


.image-gallery{
    margin-top: 4pc;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;
background-color: #F0F2F5;
margin-bottom: 25px;
}

.image-gallery .heading{
    width: 78pc;
    margin: auto;
    color: black;
    padding: 25px 0;
    margin-bottom: 5px;
}
.image-gallery .discovertext{
 font-size: 35px;
 font-weight: 800;
}
.image-box{
    color: black;
    gap: 40px;
    width: 78pc;
    margin: auto;
    display: flex;
    

}

.imagebox-1{
    width: 26pc;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 25px;
    
}
.imagebox-1 .image1{
    height: 44vh;
    background-image: url(image1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imagebox-1 .image1-content{

    padding-bottom: 12px;
    width: 18pc;
    color: white;
    padding-left: 24px;
    padding-bottom: 21px;
}

.imagebox-1 .image2{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 60vh;
    border-radius: 50px;
    background-color: white;
}
.image2 .image-img{
    height:37vh;
    background-image: url(image2.jpg);

    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 25px 25px 0 0;
}
.image2 .image-content{
    padding: 15px 19px 18px 21px;
    margin-bottom: 30px;
}
   
 

.imagebox-2{
    width: 26pc;
    color: white;
}
.imagebox-2 .image3{
    background-image: url(image3.jpg);
    height:90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 25px 25px 25px 25px;
}
.imagebox-2 .image-3-content{
    padding: 15px 19px 18px 21px;
    margin-bottom: 30px;

}





.imagebox-3{
    width: 26pc;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 25px;
    
}
.imagebox-3 .image5{
    height: 44vh;
    background-image: url(image5.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.imagebox-3 .image5-img{

    padding-bottom: 12px;
    width: 18pc;
    color: white;
    padding-left: 24px;
    padding-bottom: 21px;
}

.imagebox-3 .image4{
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 65vh;
    border-radius: 50px;
    background-color: white;
}
.image4 .image4-img{
    height:55vh;
    background-image: url(image4.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 25px 25px 0 0;
}
.image4 .image4-content{
    padding: 15px 19px 18px 21px;
    margin-bottom: 30px;
}

.firstbootem{
    height: 740px;
    width: 100%;
    background-color: #252934;
    display: flex;
    
}
.firstbootem1{
    width: 1100px;
    height: 570px;
    display: flex;

}
.popular{
    height: 570px;
    margin-left: 125px;
    width: 165px;
    padding-top: 70px;
    color: #ffff;
    width:  1270;
    box-sizing: border-box;
    
}
.list1{
    list-style: none;
    padding-top: 30px;
    line-height: 35px;
    color: #8a8f99;
}
.purchase{
    height: 570px;
    width: 165px;
    color: #ffff;
    width:  1270;
    box-sizing: border-box;
    padding-top: 70px;
    
}
.list2{
    list-style: none;
    padding-top: 30px;
    line-height: 35px;
    color: #8a8f99;
}
.supporbottem{
    height: 570px;
    width: 165px;
    color: #ffff;
    width:  1270;
    box-sizing: border-box;
    padding-top: 70px;
    
}
.list3{
    list-style: none;
    padding-top: 30px;
    line-height: 35px;
    color: #8a8f99;
}
.about{
    height: 570px;      
    width: 165px;
    color: #ffff;
    width:  1270;
    box-sizing: border-box;
    padding-top: 70px;
    
}
.list4{
    list-style: none;
    padding-top: 30px;
    line-height: 35px;
    color: #a1b9ff;
}
.firstbottem2{
    color: #afbabf;
    padding-top: 70px;
    font-size: large;
    padding-left: 60px;
    font-family: "languageFont","AvenirNext","Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu,sans-serif,"WebRupee";



}
.firstbottem2 p{
    font-size: xx-large;

}

.spacetag{
    margin-left: 20px;
    font-size: xx-large;
    color: #3a52dd;
}
.iconfollow{
    font-size: 30px;
}
.icons{
    font-size: 50px;
}
.line{
    margin-top: 1px;
    background-color: white;
}
.secondbootem{
    margin-top: -50px;
    background-color: #252934;
    height: 75px;
    display: flex;

}
.secondbottem-1{
    padding-top: 30px;
    margin-left: 125px;
    color: #a1b9ff;
    font-size: small;
}
.secondbottem-2{
    margin-left: 400px;
    color: #a1b9ff;
    font-size: small;
    padding-top: 30px;

}
.social img{
    width: 30px;
}
li:hover{
    color: #3a52dd;
    cursor: pointer;
}






